
<div id="modalLogin" class="modal">
    <div class="modal-content">
        <div class="modal__items">
            <div class="modal__item">
                <div class="modal__item-title">Request</div>
                <div class="modal__item-body">
                    <pre><code class="js">
 req.body.
{
"email":"_max_kot@mail.ru",
"password":"123456"
}
                    </code></pre>
                </div>
            </div>
            <div class="modal__item-divider"></div>
            <div class="modal__item">
                <div class="modal__item-title">Response</div>
                <div class="modal__item-body">
                        <pre><code class="js">
 res.
({
user: {
"_id": "5ff46730dd0c4c2218b",
"name": "Maksim",
"email": "_max_kot@mail.ru",
"password": "$2a$10$nLHFCWF",
"__v": 0
 },
token
})
                        </code></pre>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal__btn-close modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>