
<div id="modalGetImage" class="modal">
    <div class="modal-content">
        <div class="modal__items">
            <div class="modal__item">
                <div class="modal__item-title">Request</div>
                <div class="modal__item-body">
                    <pre><code class="js">
 {"page":"2",
"quanity":"2"}
                    </code></pre>
                </div>
            </div>
            <div class="modal__item-divider"></div>
            <div class="modal__item">
                <div class="modal__item-title">Response</div>
                <div class="modal__item-body">
                        <pre><code class="js">
{
"docs": [

{"_id": "6022f31267c59a1ffc1970f4",
"originalname": "IMG_20180526_165223.jpg",
"path": "uploads\\203ccafdaac0ad261d8f892fcf8716d8",
"filename": "203ccafdaac0ad261d8f892fcf8716d8",
"__v": 0},

{"_id": "6022f31267c59a1ffc1970f5",
"originalname": "IMG_20180530_214554.jpg",
"path": "uploads\\905f5f56937b05d90073253efe3bbbd0",
"filename": "905f5f56937b05d90073253efe3bbbd0",
"__v": 0}

    ],

    "totalDocs": 12,
    "limit": 4,
    "totalPages": 3,
    "page": 2,
    "pagingCounter": 5,
    "hasPrevPage": true,
    "hasNextPage": true,
    "prevPage": 1,
    "nextPage": 3
}
                        </code></pre>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal__btn-close modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>