
<div id="modalLoadImage" class="modal">
    <div class="modal-content">
        <div class="modal__items">
            <div class="modal__item">
                <div class="modal__item-title">Request</div>
                <div class="modal__item-body">
                    <pre><code class="js">
 1.form-data:
 key - image_save,
 value - \your image/images\
 2. Headers:
 key - Authorization,
 value - Bearer \your token\
                    </code></pre>
                </div>
            </div>
            <div class="modal__item-divider"></div>
            <div class="modal__item">
                <div class="modal__item-title">Response</div>
                <div class="modal__item-body">
                        <pre><code class="js">

                        </code></pre>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal__btn-close modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>