<div class="container">
    <div class="path">
        <h5>http://localhost:3000</h5>
    </div>
    <div class="routers">
        <div class="router__item">
            <div class="router__item-name">/login</div>
            <a class="waves-effect waves-light btn-small light-blue accent-2 modal-trigger" href="#modalLogin">POST</a>
        </div>
        <div class="router__item">
            <div class="router__item-name">/loadImage</div>
            <a class="waves-effect waves-light btn-small light-blue accent-2 modal-trigger"
               href="#modalLoadImage">POST</a>
        </div>
        <div class="router__item">
            <div class="router__item-name">/deleteImage</div>
            <a class="waves-effect waves-light btn-small red modal-trigger" href="#modalDeleteImage">DELETE</a>
        </div>
        <div class="router__item">
            <div class="router__item-name">/getImage</div>
            <a class="waves-effect waves-light btn-small green modal-trigger" href="#modalGetImage">GET</a>
        </div>
    </div>
</div>
{{>modalLogin}}
{{>modalLoadImage}}
{{>modalDeleteImage}}
{{>modalGetImage}}






