body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar .brand-logo {
    margin-left: 1vw;
}

.navbar__link-swagger {
    margin-right: 1vw;
}

.path {
    margin-top: 8vh;
}

footer {
    display: block;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.button__item {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 1.5rem;
}

.button__item-title {
    position: relative;
    margin-left: 10px;
}

.button__item a {
    display: block;
    width: 95px;
    text-align: center;
    padding: 2px 4px;
    border: 1px solid black;
    border-radius: 4px;
    color: #006a95;
}

.button__item a:hover {
    color: bisque;
}

.router__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 500vw;
    margin: 20px;
    border: black solid 1px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5)
}

.router__item-button {
    display: block;
    position: relative;
    margin-right: 0;

}

.router__item-name {
    font-size: 17px;
    font-weight: 500;
}

.router__item:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}


.modal {
    min-height: 50vh;
}

.modal2 {
    min-height: 60vh;
    display: block;
    position: absolute;
    margin: 50px 30vw 20vh 30vh;
    width: 45vw;
    z-index: 10;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.29);
    border-radius: 3px;
    background-color: white;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.modal__item {
    width: 100%;
}

.modal__item-title {
    width: 80px;
    padding: 5px;
    background-color: #fdd0bd;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.29)

}

.modal__item-body {
    display: block;
    height: 92%;
    background-color: #fdd0bd;
    border-radius: 0 3px 3px 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.29)
}

.modal__item-body pre {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100%;
}

code.js {
    width: 100%;
    border-radius: 2px;
    margin: 10px;

}

.modal-content {
    height: 50vh;
}

.modal__item-divider {
    margin: 25px 23px -5px 25px;
    border: solid #575757 1px;
    display: block;
    position: relative;
    height: 100%;
    width: 1px;
    font-weight: 600;
}

.modal-footer {
    margin-top: 5px !important;
}

.modal__btn-close {
    float: right;
}
