<footer class="#757575 grey darken-1 page-footer">
    <div class=" footer-copyright">
        <div class="container ">
            © 2021 Maksim Kotov
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/go.min.js"></script>

<script src="/app.js"></script>