<nav class="">
    <div class="navbar #006064 cyan darken-4 nav-wrapper">
        <a href="#" class="brand-logo left">Back end for gallery</a>
        <a href="/api-docs" class="navbar__link-swagger  right">Swagger API</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

        </ul>
    </div>
</nav>