body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin: 10px 0px 0px 100px;
    width: 80%;
    height: 80%;
    background-image: url("./Untitled.jpg");
    background-size: cover;
}

.navbar .brand-logo {
    margin-left: 1vw;
}

.navbar__link-swagger {
    margin-right: 1vw;
}

.path {
    margin-top: 8vh;
}

footer {
    display: block;
    width: 100vw;
    position: absolute;
    bottom: 0;
}